---
version: 1.0
min_ruby_version: 2.4.0
name: Коллекция материалов по программированию
description: Обучение программированию
url: https://pirate-ship-learning.github.io/it_wiki/
repository: https://github.com/pirate-ship-learning
#timezone: Russia/Moscow
twitter:
  username: pirate-ship-learning
logo: "/img/khan_15.png"
author: pirate-ship-learning

google_analytics_id: UA-50755011-1 
google_site_verification: onQcXpAvtHBrUI5LlroHNE_FP0b2qvFyPq7VZw36iEY

collections:
  docs:
    permalink: "/:collection/:path/"
    output: true
  posts:
    permalink: "/news/:year/:month/:day/:title/"
    output: true
  tutorials:
    output: true

defaults:
- scope:
    path: _docs
    type: docs
  values:
    layout: docs
- scope:
    path: _posts
    type: posts
  values:
    layout: lessons_item
    image: "/img/twitter-card.png"

plugins:
- jekyll-avatar
#- jekyll-feed
- jekyll-mentions
- jekyll-redirect-from
- jekyll-seo-tag
- jekyll-sitemap
- jemoji

#feed:
#  categories:
#    - release

sass:
  style: compressed

exclude:
- .gitignore
- .jekyll-cache
- CNAME
- icomoon-selection.json
- readme.md
